.link-color {
  color: #d3d3d3 !important;
}
.sidebar[data-background-color="dark"] {
  background: #1a2035 !important;
}
.sidebar[data-background-color="dark"] {
  background: #2c3e50 !important;
}

.nav-item.active > a[data-toggle="collapse"][aria-expanded="true"] {
  background: #fff !important;
  color: #2a2f5b !important;
}

.logo-header[data-background-color="dark"] {
  background: #213140 !important;
}
