.modal-10w {
    max-width: 10vw !important;
}

.modal-20w {
    max-width: 20vw !important;
}

.modal-30w {
    max-width: 30vw !important;
}

.modal-40w {
    max-width: 40vw !important;
}

.modal-50w {
    max-width: 50vw !important;
}

.modal-60w {
    max-width: 60vw !important;
}

.modal-70w {
    max-width: 70vw !important;
}

.modal-80w {
    max-width: 80vw !important;
}

.modal-90w {
    max-width: 90vw !important;
}

.modal-100w {
    max-width: 100vw !important;
}